
.container{
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main{
    position: absolute;
    margin-left: 12vw;
    margin-right: 26vw;
    width: calc(100vw - 12vw - 26vw);
    height: 100%;
}
.sidebar{
    position: absolute;
    background: #E9F1FB;
    height: 100%;
    width: 12vw;
    transition: all 0.5s;
}
.box {
    height: 100%;
    width: 26vw;
    top:0;
    right: 0;
    background-color: #E9F1FB;
    position: absolute;
}
.top_section{
    align-items:center;
    padding:20px 15px;
    height: 10.3vh;
    margin-top: 2vh;
}
.logo{
    text-align: center;
    font-size: 1.35vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0;
}
.logo span{
    color: #6C92D7;
}
.list {
    height: auto;
    padding-top: 10.3vh;
    margin-left: 0.5vw;
}
.link{
    display: flex;
    color: #717A7F;
    margin-top: 6.2vh;
  

    width: 100%;
    height: 4.1vh;
    gap: 0.8vw;
    transition: all 0.5s;
}
.link:hover{
    color: #6C92D7;
    transition: all 0.5s;
}
.active{
    color: #6C92D7;
}
.icon {
    padding-left: 1.3vw;
    line-height: 100%;
    font-size: 1.5vmax;
}

.link_text {
    padding-top: 1vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.85vmax;
}

