
.container{
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main{
    position: absolute;
    margin-left: 230px;
    margin-right: 500px;
    width: calc(100% - 230px - 500px);
    height: 100%;
}
.sidebar{
    position: absolute;
    background: #E9F1FB;
    height: 100%;
    width: 230px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
    height: 100px;
}
.logo{
    width: 160px;
    height: 48px;
    margin-left: 10px;
    margin-top: 60px;
    text-align: center;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0;
}
.logo span{
    color: #6C92D7;
}
.list {
    height: auto;
    padding-top: 100px;
    margin-left: 10px;
}
.link{
    display: flex;
    color: #717A7F;
    margin-top: 40px;
    margin-bottom: 60px;

    width: 100%;
    height: 40px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    color: #6C92D7;
    transition: all 0.5s;
}
.active{
    color: #6C92D7;
}
.icon {
    padding-left: 25px;
    line-height: 100%;
    font-size: 30px;
}

.link_text {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.box {
    height: 100%;
    width: 500px;
    top:0;
    right: 0;
    background-color: #E9F1FB;
    position: absolute;
}